body{
	margin: 20px;
}

.col-4{
	background-color:  	#E6E6FA;
	margin-top: 10px; 
}

.col-7{
	font-family: sans-serif;
	font-size: 20px;
}

.profile_image{
	display: flex;
  	align-items:center;
  	justify-content: center;
  	margin: 30px;

}

.name{
	font-size: 30px;
}

.contact_heading{
	background-color: 	#dcdcdc;
}

.skills_heading{
	background-color: #dcdcdc;
}

.education_heading{
	background-color: #dcdcdc;
}